@import '@styles/mixins.module.scss';

.container {
    padding: 20px 30px 1px 30px;
    p {
        font-size: 17px;
    }

    .boxTitle {
        @include flex_box_custom(center, center, 0px);
        flex-direction: column;
        margin: 20px;
    }

    .boxCheck {
        span {
            margin-left: 5px;
            font-size: 14px;
        }
    }

    .boxSubmit {
        margin: 20px 0;
        text-align: center;
    }

    .forgotPassword {
        text-align: center;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
